/*Reset some default browser styles*/
body, h1, h2, p, ul, l1 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #335;
}

header {
    background-color: #333;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    color:#335;
    font-size: 20px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    list-style: none;
}

footer {
    background-color: #333;
    padding-top: 10px;
}